<h1>Contáctanos</h1>
<p>Puedes comunicar con nosotros para cualquier consulta o para participar en 
   alguno de nuestros cursos en el 
    <%= mail_to "meloy01_eloy@hotmail.com" do %> 
        <strong> Email: </strong> 
        <span>meloy01_eloy@hotmail.com</span>
    <% end %>

</p>
