<h1>Contáctanos</h1>
<p>Puedes comunicar con nosotros en  
    <%= mail_to "meloy01_eloy@hotmail.com" do %> 
        <strong> Email:</strong> 
        <span>meloy30@hotmail.com</span>
    <% end %>

</p>
