<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha solicitado cambiar tu password. Puedes hacer esto con el link de abajo.</p>

<p><%= link_to 'Cambiar mi password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si tu no hicistes la solicitud, por favor, ignora éste email.</p>
<p>Tu password no cambiará hasta que accedas al link de arriba y creés una nueva.</p>
